GROQ_API_KEY=your_groq_api_key_here or any other valid API key with access to the specified model
GROQ_MODEL=your_model
GROQ_MAX_CONTEXT_TOKENS=your_max_context_tokens_here
GROQ_DEFAULT_MAX_COMPLETION_TOKENS=your_default_max_completion_tokens_here
DATABASE_URL=your_database_url_here
LOCAL_TIMEZONE=your_local_timezone_here
GOOGLE_CREDENTIALS_PATH=path_to_your_google_credentials.json
APP_ENV=your_app_environment_here
LOG_LEVEL=your_log_level_here (e.g., DEBUG, INFO, WARNING, ERROR, CRITICAL)
